// General

a {
    color: $white-color;
}

.container {
    padding: 0 10%;
    color: $white-color;
}

// Typografy

.section-title {
    color: $gray-color;
    font-size: 2em;
    margin-bottom: 20px;
}

h1 {
    font-size: 3em;
    color: $white-color;
}

// Buttons
.btn {
    padding: 10px;
    border: none;
    cursor: pointer;

    svg{
        color: $white-color
    }
}

.selected {
    border: 2px solid $white-color;
    &:focus {
        outline-style: none;
    }
}

.btn-like {
    background-color: $main-color;
}

.btn-dislike {
    background-color: $second-color;
}

.btn-outline {
    border: 1px solid $white-color;
    background-color: none;
}

// Cards

.card {
    background-color: $card-background;
}