@import '../../assets/scss/variables';

.card-vote {
    width: 45%;
    height: 500px;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-size: cover;
}


.votes-buttons {
    display: flex;

    .btn-like {
        display: flex;
        justify-content: flex-start;
    }

    .btn-dislike {
        display: flex;
        justify-content: flex-end;
    }
}

.voting-progress {
    display: flex;
    align-items: center;
    color: $white-color;

    span {
        margin: 0 10px;
        font-size: 1.3em;
    }
}

.buttons-onvote {
    display: flex;
    align-items: center;

    button {
        margin: 0 5px;
    }
}
