.header-container {
    background-image: url('../../assets/images/pope-francis.jpg');
    padding-bottom: 150px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.logo {
    width: 200px;
    height: 40px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;

    li {
        padding: 10px;
    }
}
