@import '../../assets/scss/variables';

.header-container {
    background-image: url('../../assets/images/pope-francis.jpg');
    background-size: cover;
    padding-bottom: 150px;
}

header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 40px;
}

.logo {
    width: 200px;
    height: 40px;
}

.main-menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 1.5em;
    color: $white-color;

    li {
        padding: 10px;
    }

    a {
        text-decoration: none;
    }
}
